<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
  <hibernate-configuration>
	  <session-factory>
  		<property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
  		<property name="connection.driver_class">org.postgresql.Driver</property>
  		<property name="connection.user">postgres</property>
  		<property name="connection.password">password</property>
  		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  		
  		<property name="hbm2ddl.auto">update</property>
  		<!-- May 04, 2018 1:03:56 PM org.hibernate.engine.jdbc.env.internal.LobCreatorBuilderImpl useContextualLobCreation
		INFO: HHH000424: Disabling contextual LOB creation as createClob() method threw error : java.lang.reflect.InvocationTargetException -->
		<!-- this beloew property added due to the above error -->
  		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property> 
  		
  		<mapping resource="Trade.hbm.xml"/>
  	</session-factory>
  </hibernate-configuration>